In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv("yelp.csv", index_col = 0)

In [5]:
data.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
2967245,aMleVK0lQcOSNCs56_gSbg,miHaLnLanDKfZqZHet0uWw,Xp_cWXY5rxDLkX-wqUg-iQ,5,2015-09-30,LOVE the cheeses here. They are worth the pri...,0,0,1
4773684,Hs1f--t9JnVKW9A1U2uhKA,r_RUQSGZcd5bSgmTcS5IfQ,NuGZD3yBVqzpY1HuzT26mQ,5,2015-06-04,This has become our go-to sushi place. The sus...,0,0,0
1139855,i7aiPgNrNaFoM8J_j2OSyQ,zz7lojg6QdZbKFCJiHsj7w,ii8sAGBexBOJoYRFafF9XQ,1,2016-07-03,I was very disappointed with the hotel. The re...,2,1,1
3997153,uft6iMwNQh4I2UDpmbXggA,p_oXN3L9oi8nmmJigf8c9Q,r0j4IpUbcdC1-HfoMYae4w,5,2016-10-15,Love this place - super amazing - staff here i...,0,0,0
4262000,y9QmJ16mrfBZS6Td6Yqo0g,jovtGPaHAqP6XfG9BFwY7A,j6UwIfXrSkGTdVkRu7K6WA,5,2017-03-14,Thank you Dana!!!! Having dyed my hair black p...,0,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 2967245 to 838267
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    10000 non-null  object
 1   user_id      10000 non-null  object
 2   business_id  10000 non-null  object
 3   stars        10000 non-null  int64
 4   date         10000 non-null  object
 5   text         10000 non-null  object
 6   useful       10000 non-null  int64
 7   funny        10000 non-null  int64
 8   cool         10000 non-null  int64
dtypes: int64(4), object(5)
memory usage: 781.2+ KB

In [7]:
data.describe()

              stars        useful         funny          cool
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       4.012800      1.498800      0.464200      0.542500
std        1.724684      6.339355      1.926523      2.010273
min        1.000000      0.000000      0.000000      0.000000
25%        5.000000      0.000000      0.000000      0.000000
50%        5.000000      0.000000      0.000000      0.000000
75%        5.000000      2.000000      0.000000      0.000000
max        5.000000    533.000000     83.000000     97.000000

In [8]:
data["stars"].value_counts()

5    7532
1    2468
Name: stars, dtype: int64

In [9]:
data.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [10]:
data = data[["stars", "text"]]

In [11]:
data.head()

         stars                                               text
2967245      5  LOVE the cheeses here.  They are worth the pri...
4773684      5  This has become our go-to sushi place. The sus...
1139855      1  I was very disappointed with the hotel. The re...
3997153      5  Love this place - super amazing - staff here i...
4262000      5  Thank you Dana!!!! Having dyed my hair black p...

In [12]:
data.iloc[0]["text"]

'LOVE the cheeses here.  They are worth the price.  Great for finding treats for a special dinner or picnic.  Nice on sample days. Yum!!! Top quality meats. Nice selection of non brand frozen veggies.  Veggie chips are mega tasty.  Always quick and friendly check out.  Produce not as stellar as it once was, but also not finding better in Madison.'

In [13]:
data["text_length"] = data["text"].apply(len)

In [14]:
data.head()

         stars                                               text  text_length
2967245      5  LOVE the cheeses here.  They are worth the pri...          347
4773684      5  This has become our go-to sushi place. The sus...          377
1139855      1  I was very disappointed with the hotel. The re...          663
3997153      5  Love this place - super amazing - staff here i...          141
4262000      5  Thank you Dana!!!! Having dyed my hair black p...          455

In [18]:
data[["stars","text_length"]].groupby("stars").mean()

       text_length
stars
1       792.980551
5       501.899097

In [20]:
sns.countplot(data=data, x="starts",)

ValueError: Could not interpret input 'starts'